body{
    text-align: center;
<<<<<<< HEAD
    color: blue;
=======
    color: #333333;
>>>>>>> cabecera
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#navegacion{
    background: #11233f;
    text-align: left;
}
#navegacion a{
    color: #fff;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;

} 
#cabecera{
    font-size: 25px;
    background: #11233f;
    color: #ffffff;
}
#container h1{
    font-size: 20px;
}